<h1>All audit logs</h1>
<table border="1">
    <thead>
    <tr>
        <th>Date</th>
        <th>Target</th>
        <th>Actor</th>
        <th>Action</th>
        <th>Method</th>
        <th>Endpoint</th>
        <th>Scope</th>
    </tr>
    </thead>
    <tbody>
    {{#each auditLogs}}
        <tr>
            <td>{{this.createdAt}}</td>
            <td>{{this.targetDid}}</td>
            <td>{{this.actorDid}}</td>
            <td>{{this.method}}</td>
            <td>{{this.xrpcCall}}</td>
            <td>{{this.matchedScope}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>