<h1>ACL</h1>
<h2>Created by you</h2>
{{#each grantedByMe}}
    <div>
        <p><a href="/acl/{{this.id}}">ACL {{this.id}}</a></p>
        <pre style="display: none">{{jsonF this}}</pre>
        <p>Granted by <strong>you</strong> to <strong>{{this.actorHandle}}</strong></p>
    </div>
{{/each}}
<h2>Granted to you</h2>
{{#each grantedToMe}}
    <div>
        <p><a href="/acl/{{this.id}}">ACL {{this.id}}</a></p>
        <pre style="display: none">{{jsonF this}}</pre>
        <p>Granted by <strong>{{this.targetHandle}}</strong> to <strong>you</strong></p>
    </div>
{{/each}}
<hr>
<div>
    <h3>Create new ACL</h3>
    {{#if atReadOnly}}
        <p>You must grant the application write permissions to create an ACL.</p>
    {{else}}
        <p>This creates a login for the actor to use. Access rights will be granted on the next page.</p>
        <form method="post">
            <label>
                Actor:
                <input type="text" name="actorDid" placeholder="Handle or DID">
            </label><br>
            <input type="submit">
        </form>
    {{/if}}
</div>