<h1>ACL {{acl.id}}</h1>
<pre style="display: none;">{{{jsonF acl}}}</pre>

<p>Granted to {{actorUser.handle}} by {{targetUser.handle}}</p>

<a href="/acl/{{acl.id}}/audit">View audit logs</a>

{{#if mine}}
    <h2>Edit</h2>
    <form method="post">
        <h3>Scopes</h3>
        <p>This controls the access this login will grant. Reads are allowed, and writes are forbidden unless something is checked in the list below.</p>
        <h4>Categories</h4>
        <div>
            {{#each endpointCategories}}
                <div>
                    <label>
                        <input type="checkbox" name="endpointCategories[]" value="{{this.value}}"
                               {{#if this.active}}checked{{/if}}>
                        {{this.label}}
                    </label>
                </div>
            {{/each}}
        </div>
        <h4>Repository types</h4>
        <p>You must check "manage repository records" above for any of these to apply.</p>
        {{#each recordCategories}}
            <div>
                <label>
                    <input type="checkbox" name="recordCategories[]" value="{{this.value}}"
                           {{#if this.active}}checked{{/if}}>
                    {{this.label}}
                </label>
            </div>
        {{/each}}
        <input type="submit">
    </form>

    <h2>Revoke</h2>
    <form method="POST" action="/acl/{{acl.id}}/revoke">
        <input type="submit" value="Revoke">
    </form>
{{else}}
    <h2>Granted scopes</h2>
    <h3>Categories</h3>
    <div>
        {{#each endpointCategories}}
            {{#if this.active}}
                <p title="{{this.value}}">{{this.label}}</p>
            {{/if}}
        {{/each}}
    </div>
    <h3>Repository types</h3>
    {{#each recordCategories}}
        {{#if this.active}}
            <p title="{{this.value}}">{{this.label}}</p>
        {{/if}}
    {{/each}}

    <h2>Login details</h2>
    {{#if acl.revokedAt}}
        <strong>This ACL has been revoked.</strong>
    {{else}}
        {{#if acl.hasPassword}}
            <p>Username: {{acl.username}}</p>
            <p>Password has already been generated.</p>
            <h3>Password reset</h3>
            <form method="post" action="/acl/{{acl.id}}/reset-password">
                <p>Warning: This will invalidate any logged in sessions.</p>
                <input type="submit" value="Reset password">
            </form>
        {{else}}
            <h3>Unseal</h3>
            <form method="post" action="/acl/{{acl.id}}/unseal">
                <input type="submit" value="Get password">
            </form>
        {{/if}}
    {{/if}}

    <h3>Invalidate sessions</h3>
    <form method="POST" action="/acl/{{acl.id}}/invalidate-sessions">
        <input type="submit" value="Invalidate sessions">
    </form>
{{/if}}